{% extends "base.html" %}

{% block content %}
    <h1>Submit Training Request</h1>
    <div class="row">
        <div class="col-md-8">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.species.label(class="form-label") }}
                    {{ form.species(class="form-control", id="species-select") }}
                </div>
                <div class="mb-3">
                    {{ form.skills_requested.label(class="form-label") }}
                    {{ form.skills_requested(class="form-control", id="skills-select", multiple="multiple") }}
                </div>
                <div class="mb-3">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}


